@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
:root {
    --primaryColor: #f15025;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainBg: #aa98a9;
    --mainRed: #d50000;
    --mainGreen: #4caf50;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: var(--mainBg);
    color: var(--mainBlack);
    font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 601px) {
    .App,
    .list,
    .alert {
        width: 85%;
    }

    .list {
        margin: 2rem auto 0 auto;
    }
}
@media screen and (min-width: 993px) {
    .App,
    .list,
    .alert {
        width: 70%;
    }
    .list {
        margin: 2rem auto 0 auto;
    }
    .info {
        flex: 0 0 50%;
    }
}
